on init
    export DSP_PATH /system/lib/dsp
    export DEFAULT_BASEIMAGE /system/lib/dsp/baseimage.dof
    export QOSDYN_FILE /system/lib/dsp/qosdyn_3430.dll64P

    mkdir /mnt/emmc 771 system system
    symlink /mnt/emmc /emmc

    #for storing bt firmware in /system instead of initrd
    symlink /system/lib /lib

    #mount debugfs for access pm functions
    mkdir /debug 0771 system system
    mount debugfs debugfs /debug

# Enabling Power Management features
    # Enabling system for Hitting Retention
    write /debug/pm_debug/sleep_while_idle 1
    # Enabling system for Hitting OFF
    #write /debug/pm_debug/enable_off_mode 1
    #write /debug/pm_debug/voltage_off_while_idle 1

    # Enablig DVFS with ondemand governor, disable atm slows down ui
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 250000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 600000
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 80
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 20000


# Increase readahead buffers on MMC devices
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk1/bdi/read_ahead_kb 1024

on fs

# load camera modules
    insmod /system/lib/modules/camera_pmic.ko
    insmod /system/lib/modules/camera.ko
    insmod /system/lib/modules/main_sensor.ko
    insmod /system/lib/modules/vt_sensor.ko

# additional kernel modules
    insmod /system/lib/modules/param.ko
    insmod /system/lib/modules/dpram.ko
    insmod /system/lib/modules/kxsd9.ko
    insmod /system/lib/modules/vibrator.ko
    insmod /system/lib/modules/pl_sensor.ko
    insmod /system/lib/modules/Si4709_driver.ko
#   insmod /system/lib/modules/rfs.ko
#	insmod /system/lib/modules/multipdp.ko


on boot
    setprop ro.radio.use-ppp no
    setprop ro.radio.noril yes
    setprop net.eth0.dns1 8.8.8.8
    setprop net.dns1 8.8.8.8
    setprop debug.video.rotateoverlay 0



#make fmradio comaptible with cm7 path
    symlink /dev/fmradio /dev/radio0

# change permissions for alsa nodes
    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer


#Owners, Modes for Bluetooth
    chmod 0660 sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    write sys/class/rfkill/rfkill0/state 0


# change permissions for overlay managers and display devices
    chmod 0666 /sys/devices/platform/omapdss/display0/name
    chmod 0666 /sys/devices/platform/omapdss/display0/enabled
    chmod 0666 /sys/devices/platform/omapdss/display0/timings
    chmod 0666 /sys/devices/platform/omapdss/overlay0/manager
    chmod 0666 /sys/devices/platform/omapdss/overlay1/manager
    chmod 0666 /sys/devices/platform/omapdss/overlay2/manager
    chmod 0666 /sys/devices/platform/omapdss/overlay0/enabled
    chmod 0666 /sys/devices/platform/omapdss/overlay1/enabled
    chmod 0666 /sys/devices/platform/omapdss/overlay2/enabled
    chmod 0666 /sys/devices/platform/omapdss/manager0/display
    chmod 0666 /sys/devices/platform/omapdss/manager1/display
	chmod 0666 /sys/devices/platform/omapdss/manager0/name
	chmod 0666 /sys/devices/platform/omapdss/manager1/name
    chmod 0666 /sys/devices/platform/omapdss/manager0/trans_key_enabled
    chmod 0666 /sys/devices/platform/omapdss/manager1/trans_key_enabled
    chmod 0666 /sys/devices/platform/omapdss/manager0/trans_key_type
    chmod 0666 /sys/devices/platform/omapdss/manager1/trans_key_type
    chmod 0666 /sys/devices/platform/omapdss/manager0/trans_key_value
    chmod 0666 /sys/devices/platform/omapdss/manager1/trans_key_value
    chmod 0666 /sys/devices/platform/omapdss/manager0/alpha_blending_enabled
    chmod 0666 /sys/devices/platform/omapdss/manager1/alpha_blending_enabled
    #write /sys/devices/platform/omapdss/manager0/alpha_blending_enabled 1

# change permissions for wifi
    chown wifi wifi /system/etc/wifi
    chmod 0770 /system/etc/wifi
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi


    chown system system /sys/class/timed_output/vibrator/enable

    chown system system /sys/class/leds/led1_B/trigger
    chown system system /sys/class/leds/led1_R/brightness
    chown system system /sys/class/leds/led1_G/brightness
    chown system system /sys/class/leds/led1_B/brightness
    chmod 0660 /sys/class/leds/led1_B/trigger
    chmod 0644 /system/media/bootanimation.zip

#load sgx drivers
service pvr /system/bin/sgx/rc.pvr start
    oneshot

#load wlan kernel driver
service wlan_init /system/bin/wlaninit
    oneshot

#load wlan firmware
service wlan_loader /system/bin/wlan_loader \
         -f /system/etc/wifi/firmware.bin \
         -i /system/etc/wifi/tiwlan.ini \
         -e /system/etc/wifi/nvs_map.bin
         disabled
         oneshot

#init wpa supplicant
service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
         socket wpa_tiwlan0 dgram 660 wifi wifi
         disabled
         oneshot

#init dhcpd
service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL -d tiwlan0
         disabled
         oneshot

# TI WLAN Soft AP related services and configuration
service wlan_ap_loader /system/bin/tiap_loader \
        -f /system/etc/wifi/softap/firmware_ap.bin \
        -i /system/etc/wifi/softap/tiwlan_ap.ini
        disabled
        oneshot

service hostapd /system/bin/hostap -dd /data/misc/wifi/hostapd.conf
        disabled
        oneshot

# OMAP specific services start here

# load DSP firmware
#service baseimage /system/bin/dspexec -v -T /system/lib/dsp/baseimage.dof
#    user root
#    group system audio camera graphics inet net_bt net_bt_admin net_raw media
#    oneshot
service baseimage /system/bin/cexec.out /system/lib/dsp/baseimage.dof
    user root
    group system audio camera graphics inet net_bt net_bt_admin net_raw media
    oneshot

# init bluetooth device, upload firmware
service hciattach /system/bin/hciattach /dev/ttyS1 texas 3000000
    user bluetooth
    group bluetooth net_bt_admin misc
    disabled
    oneshot

#service DR-daemon /system/bin/drexe
#    user rootfs

#service efs-daemon /system/bin/efsd30
#service efs-daemon /system/bin/efsd

#service tapi-server /sbin/tapi_server
#    socket tapi-server stream 666 root radio
#    user root
#    group radio cache inet misc audio
# Insert multipdp module after boot
#service multipdp_module /system/bin/toolbox insmod /system/lib/modules/multipdp.ko
#    oneshot

